@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

body {
	margin: 0;
	padding: 100px;
	font-family: 'Open Sans';
}

p {
	font-size: 20px;
	font-weight: 600;
	border: 1px solid #000;
	text-align: center;
}


